# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock

# GitHub
.github/

# Miscellaneous
.changeset
.DS_Store
node_modules
**/build
**/.svelte-kit
**/package
**/dist
.env
.env.*
!.env.example

# SvelteKit
.svelte-kit